# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
.eggs/
venv/
.env
.envrc
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
*.db
*.db-journal
/srv/tftp/

# OS
.DS_Store
Thumbs.db

# Local scripts
run.sh
local_config.yaml
config/local.yaml

# Redis
dump.rdb